In [1]:
import numpy as np
import pandas as pd
import itertools

In [2]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [3]:
train_data

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows,fake
0,1,0.27,0,0.00,0,53,0,0,32,1000,955,0
1,1,0.00,2,0.00,0,44,0,0,286,2740,533,0
2,1,0.10,2,0.00,0,0,0,1,13,159,98,0
3,1,0.00,1,0.00,0,82,0,0,679,414,651,0
4,1,0.00,2,0.00,0,0,0,1,6,151,126,0
...,...,...,...,...,...,...,...,...,...,...,...,...
571,1,0.55,1,0.44,0,0,0,0,33,166,596,1
572,1,0.38,1,0.33,0,21,0,0,44,66,75,1
573,1,0.57,2,0.00,0,0,0,0,4,96,339,1
574,1,0.57,1,0.00,0,11,0,0,0,57,73,1
575,1,0.27,1,0.00,0,0,0,0,2,150,487,1

In [4]:
test_data

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows,fake
0,1,0.33,1,0.33,1,30,0,1,35,488,604,0
1,1,0.00,5,0.00,0,64,0,1,3,35,6,0
2,1,0.00,2,0.00,0,82,0,1,319,328,668,0
3,1,0.00,1,0.00,0,143,0,1,273,14890,7369,0
4,1,0.50,1,0.00,0,76,0,1,6,225,356,0
...,...,...,...,...,...,...,...,...,...,...,...,...
115,1,0.29,1,0.00,0,0,0,0,13,114,811,1
116,1,0.40,1,0.00,0,0,0,0,4,150,164,1
117,1,0.00,2,0.00,0,0,0,0,3,833,3572,1
118,0,0.17,1,0.00,0,0,0,0,1,219,1695,1
119,1,0.44,1,0.00,0,0,0,0,3,39,68,1

In [5]:
x_train = train_data.drop(columns='fake')
x_train

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows
0,1,0.27,0,0.00,0,53,0,0,32,1000,955
1,1,0.00,2,0.00,0,44,0,0,286,2740,533
2,1,0.10,2,0.00,0,0,0,1,13,159,98
3,1,0.00,1,0.00,0,82,0,0,679,414,651
4,1,0.00,2,0.00,0,0,0,1,6,151,126
...,...,...,...,...,...,...,...,...,...,...,...
571,1,0.55,1,0.44,0,0,0,0,33,166,596
572,1,0.38,1,0.33,0,21,0,0,44,66,75
573,1,0.57,2,0.00,0,0,0,0,4,96,339
574,1,0.57,1,0.00,0,11,0,0,0,57,73
575,1,0.27,1,0.00,0,0,0,0,2,150,487

In [32]:
y_train = train_data.iloc[:,-1]
y_train

0      0
1      0
2      0
3      0
4      0
      ..
571    1
572    1
573    1
574    1
575    1
Name: fake, Length: 576, dtype: int64

In [7]:
x_test = test_data.drop(columns='fake')
x_test

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows
0,1,0.33,1,0.33,1,30,0,1,35,488,604
1,1,0.00,5,0.00,0,64,0,1,3,35,6
2,1,0.00,2,0.00,0,82,0,1,319,328,668
3,1,0.00,1,0.00,0,143,0,1,273,14890,7369
4,1,0.50,1,0.00,0,76,0,1,6,225,356
...,...,...,...,...,...,...,...,...,...,...,...
115,1,0.29,1,0.00,0,0,0,0,13,114,811
116,1,0.40,1,0.00,0,0,0,0,4,150,164
117,1,0.00,2,0.00,0,0,0,0,3,833,3572
118,0,0.17,1,0.00,0,0,0,0,1,219,1695
119,1,0.44,1,0.00,0,0,0,0,3,39,68

In [8]:
y_test = test_data['fake']

In [9]:
y_test

0      0
1      0
2      0
3      0
4      0
      ..
115    1
116    1
117    1
118    1
119    1
Name: fake, Length: 120, dtype: int64

In [10]:
x_data ,y_data = x_train,y_train

In [11]:
x_data

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows
0,1,0.27,0,0.00,0,53,0,0,32,1000,955
1,1,0.00,2,0.00,0,44,0,0,286,2740,533
2,1,0.10,2,0.00,0,0,0,1,13,159,98
3,1,0.00,1,0.00,0,82,0,0,679,414,651
4,1,0.00,2,0.00,0,0,0,1,6,151,126
...,...,...,...,...,...,...,...,...,...,...,...
571,1,0.55,1,0.44,0,0,0,0,33,166,596
572,1,0.38,1,0.33,0,21,0,0,44,66,75
573,1,0.57,2,0.00,0,0,0,0,4,96,339
574,1,0.57,1,0.00,0,11,0,0,0,57,73
575,1,0.27,1,0.00,0,0,0,0,2,150,487

In [12]:
y_data

0      0
1      0
2      0
3      0
4      0
      ..
571    1
572    1
573    1
574    1
575    1
Name: fake, Length: 576, dtype: int64

In [13]:
x_data.isnull().sum()

profile pic             0
nums/length username    0
fullname words          0
nums/length fullname    0
name==username          0
description length      0
external URL            0
private                 0
#posts                  0
#followers              0
#follows                0
dtype: int64

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x_data,y_data)

In [15]:
x_train

,profile pic,nums/length username,fullname words,nums/length fullname,name==username,description length,external URL,private,#posts,#followers,#follows
149,1,0.08,2,0.0,0,150,1,0,38,870,72
327,0,0.33,1,0.0,0,0,0,1,0,40,236
140,1,0.00,0,0.0,0,0,1,0,158,389,806
141,1,0.29,1,0.0,0,15,0,0,43,505,503
506,0,0.57,2,0.0,0,0,0,0,0,50,49
...,...,...,...,...,...,...,...,...,...,...,...
115,1,0.10,1,0.1,0,0,0,0,711,748,4659
407,0,0.42,1,0.0,0,0,0,0,0,16,36
113,1,0.44,1,0.0,0,30,0,1,33,205,164
355,1,0.18,1,0.0,0,0,0,1,108,864,3646
150,1,0.00,2,0.0,0,43,0,1,1,265,371

In [33]:
from sklearn.metrics import accuracy_score,confusion_matrix

###  Support Vector Machine

In [17]:
from sklearn.svm import SVC
Svc = SVC()
Svc.fit(x_train,y_train)
y_pred = Svc.predict(x_test)
svc_score = accuracy_score(y_pred,y_test)
print(f'Accuracy= {round(svc_score*100,2)}%')

Accuracy= 49.31%

### Logisitic Regression

In [18]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression(max_iter=1000)
log_reg.fit(x_train,y_train)
log_pred = log_reg.predict(x_test)
log_score = accuracy_score(log_pred,y_test)
print(f'Accuracy = {round(log_score*100,2)}%')

Accuracy = 93.06%

### Random Forest Classifier

In [20]:
from sklearn.ensemble import RandomForestClassifier
rf_clf = RandomForestClassifier()
rf_clf.fit(x_train,y_train)
rf_pred = rf_clf.predict(x_test)
rf_score = accuracy_score(rf_pred,y_test)
print(f'Accuracy = {round(rf_score*100,2)}%')

Accuracy = 91.67%

### Gradient Boosting Classifier

In [23]:
from sklearn.ensemble import GradientBoostingClassifier
gb_clf = GradientBoostingClassifier()
gb_clf.fit(x_train,y_train)
gb_pred = gb_clf.predict(x_test)
gb_score = accuracy_score(gb_pred,y_test)
print(f'Accuracy= {round(gb_score*100,2)}%')

Accuracy= 90.28%

### Naive Bayes

In [27]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
nb.fit(x_train,y_train)
nb_pred = nb.predict(x_test)
nb_score = accuracy_score(nb_pred,y_test)
print(f'Accuracy= {round(nb_score*100,2)}%')

Accuracy= 69.44%

### Average Accuracy

In [29]:
avg_acc = (svc_score+log_score+rf_score+gb_score+nb_score)/5
print(f'Average Accuracy = {round(avg_acc*100,2)}%')

Average Accuracy = 78.75%

### Confusion Matrix

In [36]:
cm = confusion_matrix(y_test,nb_pred)
print(cm)

[[31 42]
 [ 2 69]]